[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "58.2.0"
black = "*"
pylint = "*"
pyserial = "*"

[dev-packages]

[requires]
python_version = "3.10"
